**/node_modules
.git
.github
.gitignore
.env
.DS_Store
README.md
docker-compose*.yml
services

app/.git
app/.github
app/.idea
app/.vscode
app/.env
app/.gitignore
app/.dockerignore
app/.oxfmtignore
app/.oxlintrc.json
app/Dockerfile
app/README.md
app/dist
app/database
**/*.log
**/coverage
**/tmp
**/temp
